---
---

<div class="quize-area">
  <h3>問題</h3>
  <slot />
</div>


<style>
  .quize-area {
  color: black;
  box-shadow: ;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #3498db; /* 幅 2px、色は #3498db の青、実線 */
}
</style>