---
import SendLocal from "@/components/react/SendLocal.jsx";
import "@/styles/components.css";

const { quize, ans, kaisetu } = Astro.props;
---

<div class="quize-area">
  <h3>問題</h3>
  <p>{quize}</p>
</div>

<div class="ans-area">
  <input class="accordion-checkbox" id="accordion1" type="checkbox" />
  <label class="accordion-label" for="accordion1">
    <span class="accordion-title">答え</span>
    <span class="accordion-icon"></span>
  </label>

  <div class="accordion-content">
    <p>回答: {ans}</p>
    <p>{kaisetu}</p>
  </div>
</div>

<SendLocal client:only="react" />
