.link-card{
    margin-top:20px;
    font-size: 20px;
    color:black;
    text-decoration: none;
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    padding: 30px;
}
.link-card:hover{
    background-color: rgb(218, 245, 249);
    color: white;
}
.link-card-title{
    font-size: 20px;
    color:black;
}