---
import type { ComponentProps } from "astro/types";
import { ReadTextbookBadge } from "@/components/ReadTextbookBadge";
import Default from "@astrojs/starlight/components/Footer.astro";
import { getCollection } from 'astro:content';
import { checkFrontmatterOrThrow } from "@/lib/utils/frontmatter";

const { id } = Astro.locals.starlightRoute.entry;
const isInTextbook = id.startsWith("textbook/");
const textbookId = isInTextbook ? id.replace("textbook/", "") : undefined;

const collections = await getCollection("docs");
checkFrontmatterOrThrow(collections);

type Props = ComponentProps<typeof Default>;
---

<Default {...Astro.props} />
{textbookId != null && 
  <div style="margin-top: 2rem;">
    <ReadTextbookBadge {textbookId} client:load />
  </div>
}

