---
import { Image } from "astro:assets";

// ref: https://sysken.esa.io/posts/841
const SYSCAT = {
  DEFAULT:
    "https://img.esa.io/uploads/production/attachments/19973/2024/02/14/138598/35cad701-0542-471f-b4ce-a09678edb673.PNG",
  /// チラッ
  EYES:
    "https://img.esa.io/uploads/production/attachments/19973/2024/06/06/138598/92239f09-18e6-4f48-854c-feaaa999f59b.PNG",
  /// わ～い！
  RAISEDHANDS:
    "https://img.esa.io/uploads/production/attachments/19973/2023/11/30/138598/d254a365-33e6-4ee3-8caf-4c20df402264.PNG",
  /// キラキラ :syscat-kirakira:
  SPARKLES:
    "https://img.esa.io/uploads/production/attachments/19973/2024/01/11/138598/d24414af-e785-4f6d-98cc-25685bc1f2e9.png",
  /// ドヤッ :syscat-doyaru:
  BRAGGING:
    "https://img.esa.io/uploads/production/attachments/19973/2024/03/06/138598/b74322eb-4eb6-4390-acfd-757233c1edf7.PNG",
  /// キュン :syscat_love:
  LOVE:
    "https://img.esa.io/uploads/production/attachments/19973/2024/02/06/138598/4857664f-5d49-4c5a-9f32-f2656045a5d7.PNG",
  /// これ！
  HERE:
    "https://img.esa.io/uploads/production/attachments/19973/2024/02/07/138598/c37aee0f-f8eb-47ce-81a3-2f9877769ec3.PNG",
  /// すやすや
  SLEEPING:
    "https://img.esa.io/uploads/production/attachments/19973/2024/02/14/138598/53e27e1f-9ccc-4e35-b92e-1da8c773fa38.PNG",
  /// グッ :syscat_ok:
  OK:
    "https://img.esa.io/uploads/production/attachments/19973/2024/06/06/138598/317b8911-8ad0-48ae-81d1-659e3ca90924.PNG",
  /// うわ～ん :syscat_cry:
  CRYING:
    "https://img.esa.io/uploads/production/attachments/19973/2024/06/06/138598/2c5bfd4f-8c07-41ef-8975-64a5109ef804.PNG",
  /// う～ん？
  CONFUSED:
    "https://img.esa.io/uploads/production/attachments/19973/2024/04/09/138598/8834cd16-2cfb-491d-aab9-bd273517355a.PNG",
  /// チラチラ
  PEEKING:
    "https://img.esa.io/uploads/production/attachments/19973/2024/04/09/138598/566a0b54-f603-4d42-b755-8287f17e6e2c.PNG",
  /// えっ :syscat_human:
  HUMAN:
    "https://img.esa.io/uploads/production/attachments/19973/2024/04/17/138598/add0a929-1711-4f32-b29f-14b310a0831e.PNG",
  /// ぱ～ん！ :syscat_medetai:
  TADA:
    "https://img.esa.io/uploads/production/attachments/19973/2024/05/06/138598/cf2ce79a-3dfe-4041-bcf7-08ba3d866380.PNG",
  /// ストン
  SITTING:
    "https://img.esa.io/uploads/production/attachments/19973/2024/05/09/138598/5d9cf28b-685e-43ac-a197-d294dfd249f8.PNG",
  /// びっくり :syscat_bikkuri:
  SURPRISED:
    "https://img.esa.io/uploads/production/attachments/19973/2024/06/06/138598/ff9f29a8-f572-47b2-aa5b-f9df8ff86014.PNG",
} as const;

type Props = {
  type?: keyof typeof SYSCAT;
};

const { type } = Astro.props as Props;

---

<div class="syscat-comment">
  <div class="content-wrapper">
    <div><slot /></div>
    <div />
  </div>
  <Image
    alt=""
    inferSize
    src={SYSCAT[type ?? "DEFAULT"]}
  />
</div>

<style>

.syscat-comment {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  container-type: inline-size;

  & > .content-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-end;

    & :first-child {
      width: 100%;
      min-height: 5rem;
      border-radius: 0.5rem;
      background-color: var(--sl-color-hairline);
      padding: 1rem;
      display: grid;
      align-content: center;
    }

    & :last-child {
      width: 1.25rem;
      height: 1.25rem;
      clip-path: polygon(100% 45%, 0 0, 0 100%);
      background-color: var(--sl-color-hairline);
      margin-block: 0 10px;
      margin-inline-start: -1px;
    }

  }

  & > img {
    height: 5rem;
    width: auto;
    margin-top: 0 !important;
    margin-inline-start: 0.5rem;

    @container (max-width: 30rem) {
      height: 3rem;
    }
  }
}

</style>
