---
import { Image } from "astro:assets";
import { FrontmatterError } from "@/lib/utils/error";
import { SYSCAT } from "@/lib/utils/syscat";


type Props = {
  type?: keyof typeof SYSCAT;
};

const { type } = Astro.props as Props;

const entry = SYSCAT[type ?? "DEFAULT"];

if (entry == null) {
  throw new FrontmatterError(
    `Unknown SYSCAT entry for type \`${type}\``,
    `シスにゃんの種別 (\`${type}\`) が不明です.  使用可能な種別は \`src/lib/utils/syscat.ts\` を参照してください.`,
  );
}

---

<div class="syscat-comment">
  <div class="content-wrapper">
    <div><slot /></div>
    <div />
  </div>
  <Image
    alt=""
    inferSize
    src={SYSCAT[type ?? "DEFAULT"]}
  />
</div>

<style>

.syscat-comment {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  container-type: inline-size;

  & > .content-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-end;

    & :first-child {
      width: 100%;
      min-height: 5rem;
      border-radius: 0.5rem;
      background-color: var(--sl-color-hairline);
      padding: 1rem;
      display: grid;
      align-content: center;
    }

    & :last-child {
      width: 1.25rem;
      height: 1.25rem;
      clip-path: polygon(100% 45%, 0 0, 0 100%);
      background-color: var(--sl-color-hairline);
      margin-block: 0 10px;
      margin-inline-start: -1px;
    }

  }

  & > img {
    height: 5rem;
    width: auto;
    margin-top: 0 !important;
    margin-inline-start: 0.5rem;

    @container (max-width: 30rem) {
      height: 3rem;
    }
  }
}

</style>
